.wrapper {
	overflow: hidden;
	position: relative;
	z-index: 1;
}

.container {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 15px;
	z-index: 2;
}


.intro {


	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: linear-gradient(to bottom, #09052f 0%,#311d5e 100%) ;
		opacity: 0.8;
		z-index: 1;
	}
}

.intro-slider {
	z-index: 2;
}

