.wrapper {
	overflow: hidden;
	position: relative;
}

.container {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 15px;
	z-index: 2;
}


.intro {
	position: relative;
	padding: 40px 0 0 0;
	z-index: 1;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: linear-gradient(to bottom, #09052f 0%, #311d5e 100%);
		pointer-events: none;
		opacity: 0.8;
		z-index: 1;
	}
}

.intro-slider {
	min-height: 70vh;
	padding-bottom: 20px;
	z-index: 3;

	@include media('>=tablet') {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.slick-dots {
		position: absolute;
		list-style: none;
		bottom: 75px;
		left: 50%;
		transform: translateX(-50%);
		padding: 0;
		margin: 0;
		text-align: center;

		li {
			display: inline-block;
			margin: 0 5px;

			button {
				background: transparent;
				font-size: 0;
				width: 10px;
				height: 10px;
				padding: 5px;
				border: 1px solid #c2c2c2;
				border-radius: 50%;
				transition: background-color .2s linear;

				&:hover {
					background: darken($green, 10%);
				}
			}
		}

		.slick-active {
			button {
				background-color: $green;
			}
		}
	}
}

.story-row {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px 0;

	@include media('>=tablet') {
		flex-direction: row;
		align-items: start;
		justify-content: space-between;
		padding: 70px 0;
	}

	img {
		display: block;
		width: 100%;
		margin-bottom: 20px;
		@include media('>=tablet') {
			margin: 0 50px;
		}
	}

	.box {
		@include media('>=tablet') {
			margin-left: 50px;
		}

		h2 {
			margin-bottom: 20px;
			color: #413d4b;
			@include media('>=tablet') {
				margin-bottom: 28px;
			}
		}

		p {
			margin-bottom: 20px;
		}

		p + p {
			margin-bottom: 30px;
		}

		.btn {
			width: 100%;
			@include media('>=tablet') {
				width: auto;
				height: 100%;
			}
		}
	}
}