.card {
	color: $white;
	padding: 80px 45px;
	text-align: center;
	align-content: center;
	width: 100%;
	z-index: 2;

	h1 {
		font-size: 24px;
		padding-bottom: 20px;
		margin-bottom: 30px;
		text-transform: capitalize;
		position: relative;
		@include media('>=tablet') {
			font-size: 32px;
		}

		&::before {
			content: '';
			position: absolute;
			height: 2px;
			width: 50px;
			background-color: $green;
			top: 100%;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	p {
		margin-bottom: 65px;
	}

	a {
		text-transform: uppercase;
		transition: color .2s ease;

		&:hover {
			color: $white;
		}
	}
}

.card-image {

}

.card-title {

}

.card-description {

}

