.card {
	color: $white;
	padding: 80px 45px;
	text-align: center;
	-ms-flex-line-pack: center;
	align-content: center;
	width: 100%;
	z-index: 2;
	font-weight: 300;

	@include media('>=tablet') {
		padding: 80px 85px;
	}

	h1 {
		font-size: 24px;
		padding-bottom: 20px;
		margin-bottom: 30px;
		text-transform: capitalize;
		position: relative;
		font-family: $base-font-serif;
		font-weight: 900;
		@include media('>=tablet') {
			font-size: 32px;
		}

		&::before {
			content: '';
			position: absolute;
			height: 2px;
			width: 50px;
			background-color: $green;
			top: 100%;
			left: 50%;
			-webkit-transform: translateX(-50%);
			-ms-transform: translateX(-50%);
			transform: translateX(-50%);
		}
	}

	p {
		margin-bottom: 65px;
	}

	a {
		text-transform: uppercase;
		-webkit-transition: color .2s ease;
		-o-transition: color .2s ease;
		transition: color .2s ease;
		font-weight: 700;

		&:hover {
			color: $white;
		}
	}
}
