.card {
	color: $white;
	padding: 80px 45px;
	text-align: center;
	align-content: center;
	width: 100%;



	h1{
		margin-bottom: 40px;

	}
}

.card-image {

}

.card-title {

}

.card-description {

}

