// Переменные цветов

$gray: #413d4b;
$blue: #007bff;
$dark-blue: #0069d9;
$green: #00e0d0;
$dark-green: #218838;
$red: #ff0000;
$yellow: #ff0;

$black: #000;
$white: #fff;

$base-font-sans-serif: "Roboto", sans-serif;
$base-font-serif: "Playfair Display", serif;

// Основной размер и цвет текста, семейство шрифта и цвет фона
$base-text-color: #413d4bc0;
$base-background-color: $white !default;
$font-size-base: 14px !default;
$line-height-base: 1.5 !default;
$base-font-family: $base-font-sans-serif !default;

$base-min-width: 320px;

// Цвет глобальной ссылки
$base-link-color: #00e0d0;

// Формы
$form-element-border-color: $gray;
$form-element-focus-border-color: $black;
$placeholder-color: $gray;

// Переменные font-size для заголовков
$h1-font-size: 32px;
$h2-font-size: 20px;
$h3-font-size: 18px;
$h4-font-size: 17px;
$h5-font-size: 16px;
$h6-font-size: 15px;